.gifContainer {
    border: 3px black solid;
    /* margin: 30px; */
    background-color: aqua;
    text-align: center;
    width: 260px;
    height: fit-content;
}

.gifTitle {
    font-size: 16px;
    color: black;
}

.gifImage {
    width: 250px;
}