.gifContainer {
    border: 3px black solid;
    /* margin: 30px; */
    background-color: aqua;
    text-align: center;
    /* width: 260px; */
    height: fit-content;
    /* max-height: 350px; */
    /* overflow: hidden; */
    /* align-items: center; */
    /* justify-content: center; */
}

.gifTitle {
    font-size: 16px;
    color: black;
}

.gifImage {
    width: 100%;
}