.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.gifsContainer {
    display: flex;
    background-size: cover;
    max-height: 300px;
}

.spinnerContainer {
    display: flex;
    /* flex: 1; */
    height: 50vh;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

@media (max-width:600px) {
    .gifsContainer {
        max-height: 180px;
    }
}