.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0px;
    /* background-color: aqua; */
}

.image {
    display: flex;
    border-radius: 10px;
    max-width: 60vw;
    max-height: 50vh;
}

@media (max-width:600px) {
    .image {
        width: 95%;
        max-width: none;
        height: max-content;
    }
}